<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magic Post</title>

    
    <link rel="stylesheet" href="public/css/app.css">
</head>

<body>
    {{#if noHeader}}
    {{else}}
    <div class="header" style="height: 56px;">
        {{> header}}
    </div>
    {{/if}}
    {{{body}}}

</body>

</html>