<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magic Post</title>


</head>

<body>
    {{#if noHeader}}
    {{!-- {{#if employee}}
    <div>
        {{#if eq employee.role 'StationE'}}
        <div class = "header" style="height: 56px">
            {{>station_employee/header}}
        </div>

        {{else if eq employee.role 'WarehouseE'}}
            <div class = "header" style="height: 56px">
                {{>station_employee/header}}
            </div>
        {{else}}
    </div> --}}
    {{else}}
    <div class="header" style="height: 56px;">
        {{> header}}
    </div>
    {{/if}}
    {{{body}}}

</body>

</html>