<style>
    :root {
        --blue-color: #174a8c;
        --orange-color: #ef6030;
    }
</style>

<body>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        /* Add a gray background color and some padding to the footer */
        footer {
            background-color: #f2f2f2;
            padding: 25px;
        }

        .carousel-inner img {
            width: 100%;
            /* Set width to 100% */
            min-height: 200px;
        }

        /* Hide the carousel text when the screen is less than 600 pixels wide */
        @media (max-width: 600px) {
            .carousel-caption {
                display: none;
            }
        }
    </style>

    {{>home/headerHome}}

    <script>

        // Tạo một phần tử li mới
        var newNavItem = document.createElement("li");
        newNavItem.className = "nav-item";

        // Tạo một phần tử a mới
        var newNavLink = document.createElement("a");
        newNavLink.className = "nav-link";
        newNavLink.href = "#myMap";
        newNavLink.textContent = "Bưu cục Magic Post";

        // Thêm phần tử a vào phần tử li
        newNavItem.appendChild(newNavLink);

        // Lấy danh sách ul bằng id và thêm phần tử li mới vào
        var navbarList = document.getElementById("myNavbar");
        navbarList.appendChild(newNavItem);

    </script>

    <div class="container" style="margin-top: 50px;">
        <div class="row">
            <div class="col-sm-8">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>

                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="https://file.hstatic.net/200000472237/file/chang-ngai-bao-sale-giao-nhanh-toan-quoc_f4c19bba05e94310af0726772b7d6677.jpg"
                                alt="Image">
                            <div class="carousel-caption">

                            </div>
                        </div>

                        <div class="item">
                            <img src="https://file.hstatic.net/200000472237/file/s7v_2577__1__09ccd44357b84f98a93ce009d926eea7_1024x1024.jpg"
                                alt="Image">
                            <div class="carousel-caption">

                            </div>
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="col-sm-4">
                <button class="btn" id="btnOption1" onclick="window.open('/user_search_post')"><i
                        class="fa fa-search"></i>TRA CỨU ĐƠN HÀNG</button>
                {{!-- <button class="btn" id="btnOption2"><i class="fa fa-cloud"></i>ĐĂNG KÝ SHOP | ĐĂNG NHẬP</button>
                --}}
                <button class="btn" id="btnOption3"> <i class="glyphicon glyphicon-user"></i> ỨNG TUYỂN GIAO
                    HÀNG</button>
                <button class="btn" id="btnOption4"> <i class="glyphicon glyphicon-user"></i> BẢNG GIÁ</button>

                <style>
                    #btnOption1,
                    #btnOption2,
                    #btnOption3,
                    #btnOption4 {
                        width: 100%;
                        margin-bottom: 3px;
                        padding: 15px;
                        text-align: left;
                        font-size: 16px;
                        font-weight: bold;
                        color: #fff;
                        background-color: var(--orange-color);
                        border: none;
                        border-radius: 5px;
                        cursor: pointer;
                        transition: background-color 0.3s, box-shadow 0.3s;
                        /* Hiệu ứng hover và box-shadow */
                        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                        /* Viền nổi */
                    }

                    #btnOption1:hover,
                    #btnOption2:hover,
                    #btnOption3:hover,
                    #btnOption4:hover {
                        background-color: var(--blue-color);
                        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
                        /* Hiệu ứng hover cho viền nổi */
                    }

                    #btnOption1 i,
                    #btnOption2 i,
                    #btnOption3 i,
                    #btnOption4 i {
                        margin-right: 5px;
                    }
                </style>
                <script>
                    document.getElementById("btnOption4").addEventListener("click", function () {
                        window.location.href = "home/priceList";
                    });
                    document.getElementById("btnOption3").addEventListener("click", function () {
                        window.location.href = "home/recruitment";
                    });
                </script>
            </div>
        </div>
    </div>
    <hr>
    </div>
    <div class="container2" style="margin-top: 50px;">
        <h3 class="title" style="text-align: center;">MAGIC POST GIAO NHANH HƠN 6 TIẾNG</span></h3>
        <br>
        <p style="text-align: center;">Magic Post giúp bạn giao hàng đến người nhận nhanh hơn 6 tiếng so với các đơn vị
            vận chuyển khác.</p>
        <br> <br>
        <video width="100%" height="auto" controls>
            <source src="https://file.hstatic.net/1000376681/file/1920x900_d8d881b358674809a162eb6b6069ff10.mp4"
                type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <br>
        <style>

        </style>
    </div>

    <section class="section section-policy">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-6 col-policy">
                    <div class="box-policy">
                        <div class="ic-policy">
                            <img width="50" height="50" class="dt-width-auto"
                                src="//theme.hstatic.net/200000472237/1001083717/14/icon-app1_small.png?v=564"
                                alt="Top c&#244;ng ty giao &lt;br&gt;nhận h&#224;ng đầu VN" />
                        </div>
                        <div class="desc-policy">
                            <p>Top công ty giao <br>nhận hàng đầu VN</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6 col-policy">
                    <div class="box-policy">
                        <div class="ic-policy">
                            <img width="50" height="50" class="dt-width-auto"
                                src="//theme.hstatic.net/200000472237/1001083717/14/icon-app2_small.png?v=564"
                                alt="Mạng lưới phủ s&#243;ng &lt;br&gt; 100% 63 tỉnh th&#224;nh" />
                        </div>
                        <div class="desc-policy">
                            <p>Mạng lưới phủ sóng <br> 100% 63 tỉnh thành</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6 col-policy">
                    <div class="box-policy">
                        <div class="ic-policy">
                            <img width="50" height="50" class="dt-width-auto"
                                src="//theme.hstatic.net/200000472237/1001083717/14/icon-app3_small.png?v=564"
                                alt="Giao h&#224;ng nhanh &lt;br&gt; Tỷ lệ ho&#224;n h&#224;ng thấp" />
                        </div>
                        <div class="desc-policy">
                            <p>Giao hàng nhanh <br> Tỷ lệ hoàn hàng thấp</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6 col-policy">
                    <div class="box-policy">
                        <div class="ic-policy">
                            <img width="50" height="50" class="dt-width-auto"
                                src="//theme.hstatic.net/200000472237/1001083717/14/icon-app4_small.png?v=564"
                                alt="Hệ thống quản l&#253; &lt;br&gt; trực tuyến 24/7" />
                        </div>
                        <div class="desc-policy">
                            <p>Hệ thống quản lý <br> trực tuyến 24/7</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <style>
            /* Phần Policy */
            .section-policy {
                padding: 20px 0;
                margin-bottom: 0px;
                padding-bottom: 0px;

            }

            /* Box Policy */
            .col-policy {

                margin-bottom: 30px;
                /* Khoảng cách giữa các box */
            }

            .box-policy {
                background-color: white;
                text-align: center;
                padding: 20px;
            }


            .ic-policy img {
                width: 50px;
                height: 50px;
            }

            .desc-policy p {
                margin-top: 10px;
                /* Khoảng cách giữa hình ảnh và mô tả */
                font-size: 16px;
                color: #333;
            }

            /* Responsive - Dùng để xếp cột dọc trên màn hình nhỏ */
            @media (max-width: 767px) {
                .col-policy {
                    width: 100%;
                    /* Sử dụng toàn bộ chiều rộng */
                }
            }
        </style>
    </section>

    <div class="container text-center mymap" style="margin-top: 30px; background-color: #f0f0f0" id="myMap">
        <br> <br>
        <h3 class="titlemap">BƯU CỤC <span style="color: var(--orange-color);">MAGIC POST</span></h3>
        <br>
        <div class="map" style="margin-top: 35px; ">
            <div class="map1" style="background-color: #f4f4f4">
                <select id="province" class="form-select" aria-label="Default select example"
                    style="color: black; margin-top:50px; border-color: rgb(174, 172, 172);height: 40px; border-radius: 5px;">
                    <option selected>Chọn tỉnh/thành phố</option>
                    <option value="Hà Nội">Hà Nội</option>
                    <option value="Hải Phòng">Hải Phòng</option>
                    <option value="Kiên Giang">Kiên Giang</option>
                </select>
                <div id="result" style="background-color: #ffffff">
                    <style>

                    </style>
                </div>
                <button class="mapbtn" onclick="searchStation()">Tra cứu bưu cục</button>
            </div>
            <div class="map2">
                <iframe src="https://www.google.com/maps/d/u/0/embed?mid=13vG4ePDoyQfb9z2lnAWTQQCwka3-bbE&ehbc=2E312F"
                    width="100%" height="100%"></iframe>
            </div>
            <style>
                .map {
                    display: flex;
                }

                .map1 {
                    width: 100%;
                    height: 200px;
                    margin-right: 10px;
                    text-align: center;
                    color: #fff;
                    background-color: #fbfcfc;
                    border: none;
                    border-radius: 5px;
                    cursor: pointer;
                    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                    flex: 2;
                }

                .map2 {
                    flex: 3;
                    width: 100%;
                    height: 450px;
                }

                .form-select,
                .mapbtn {
                    margin: 20px;
                    width: 300px;
                    height: 30px;
                    border-radius: 5px;
                }

                .mapbtn {
                    background-color: #174a8c;
                    height: 40px;
                    text-align: center;
                }

                @media (max-width: 1000px) {
                    .map {
                        flex-direction: column;
                    }

                    .map2 {
                        height: 400px;
                    }
                }
            </style>
            <script>
                function searchStation() {
                    document.querySelector('.map1').style.height = "500px";

                    console.log("ok")
                    const stationProvince = document.getElementById('province').value;
                    if (!stationProvince) {
                        alert("Vui lòng chọn tỉnh/thành phố.");
                        return;
                    }
                    console.log(stationProvince)
                    fetch('/postSearchStation', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ stationProvince }),
                    })
                        .then(response => response.json())
                        .then(data => {
                            console.log(data);
                            // Hiển thị kết quả trên trang web
                            const resultDiv = document.getElementById('result');
                            if (data.message) {
                                resultDiv.innerHTML = `<p>${data.message}</p>`;
                            } else {
                                const resultHTML = data.map(station => `
                                                <div>
                                                    <p class="resultName" style="font-weight: bold; font-family: 'Arial', sans-serif; text-align: left; font-size: 11px; line-height: 1.3;">Name: ${station.name}</p>
                                                    <p style="margin-bottom: 5px; text-align: left; font-size: 11px; line-height: 1.3;">Station Code: ${station.stationCode}</p>
                                                    <p style="margin-bottom: 5px; text-align: left; font-size: 11px; line-height: 1.3;">Detail Address: ${station.detailAddress}</p>
                                                    <p style="margin-bottom: 5px; text-align: left; font-size: 11px; line-height: 1.3;">Thời gian hoạt động: 08h00-18h00 (Thứ Hai - Chủ Nhật)</p>
                                                    <a href="#" onclick="showTheWay('${station.detailAddress}')" style="margin-bottom: 5px; text-align: left; font-size: 11px; line-height: 1.3;"><i class="fas fa-directions"></i>Chỉ đường</a>
                                                    <br><br>
                                                </div>
                                            `).join('');

                                resultDiv.innerHTML = resultHTML;
                                resultDiv.style.color = 'black';
                                resultDiv.style.margin = "30px";
                                resultDiv.style.padding = "20px";

                                // Thiết lập border cho div
                                resultDiv.style.border = "1px solid #ccc";
                            }
                            console.log("success")
                        })
                        .catch(error => {
                            console.error('Lỗi yêu cầu AJAX:', error);
                        });



                    const address = "926 Đ. Kim Giang, Thanh Liệt, Thanh Trì, Hà Nội, Việt Nam"
                    console.log("ok2")

                    //window.open(`https://www.google.com/maps/place/${encodeURIComponent(address)}`);

                }
                function showTheWay(address) {
                    console.log("showWay" + address);
                    window.open(`https://www.google.com/maps/place/${encodeURIComponent(address)}`);
                }

            </script>
        </div>
        <hr>
        <style>
            .titlemap {
                margin-top: 20px;
                font-size: 30px;
                font-weight: bold;
                color: #174a8c;
            }
        </style>
    </div>

    <div class="container text-center" style="margin-top: 50px; background-color: #f0f0f0">
        <div id="mydiv">
            <div id="mydiv1">
                <div class="img">
                    <img src="https://theme.hstatic.net/200000472237/1001083717/14/cp_advantages1.png?v=564" alt="">
                </div>
                <p style="font-weight: bold; font-size: 18px">MIỄN PHÍ LẤY HÀNG</p> <br>
                <p>GHN sẽ không thu phí lấy hàng cho các đơn hàng nhân viên giao nhận đến tận nơi để nhận hàng.</p>
            </div>
            <div id="mydiv2">
                <div class="img">
                    <img src="https://theme.hstatic.net/200000472237/1001083717/14/cp_advantages3.png?v=564" alt="">
                </div>
                <p style="font-weight: bold; font-size: 18px">MIỄN PHÍ GIAO LẠI</p> <br>
                <p>Trong trường hợp giao hàng lần đầu không thành công, GHN sẽ miễn phí giao lại 2 lần tiếp theo trước
                    khi hoàn trả hàng cho người gửi.</p>
            </div>
            <div id="mydiv3">
                <div class="img">
                    <img src="https://theme.hstatic.net/200000472237/1001083717/14/cp_advantages1.png?v=564" alt="">
                </div>
                <p style="font-weight: bold; font-size: 18px">ƯU ĐÃI KHI ĐĂNG KÝ</p> <br>
                <p>Là hình thức ưu đãi hoàn tiền lên đến 6% số tiền khi là thành viên của MagicPost. Hãy tham gia ngay
                    để có thể tận hưởng nhiều ưu đãi</p>
            </div>

        </div>

        <style>
            .img {
                width: 50px;
                height: 50px;
                background-color: rgb(218, 241, 250);
                border-radius: 10px;

                margin-bottom: 20px;
            }

            img {
                width: 30px;
                height: 30px;
                text-align: center;
                margin-top: 10px;
            }

            #mydiv {
                width: 100% - 20px;
                display: flex;
                justify-content: space-evenly;
                background-color: #f0f0f0;
                border-radius: 10px;
                color: #555;
                padding-top: 20px;
                padding-bottom: 20px;
            }

            #mydiv1,
            #mydiv2,
            #mydiv3 {
                height: 300px;
                margin-left: 70px;
                margin-right: 70px;
                flex: 1;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: white;
                border-radius: 50px;
                margin: 10px;
            }

            #mydiv1:hover,
            #mydiv2:hover,
            #mydiv3:hover {
                background-color: var(--blue-color);
                color: white;
            }

            @media (max-width: 900px) {
                #mydiv {
                    flex-direction: column;
                }
            }

            p {
                margin-right: 30px;
                margin-left: 30px;
                font-size: 15px;
                text-align: center;
            }

            .title {
                margin-top: 20px;
                font-size: 30px;
                font-weight: bold;
                color: #174a8c;
            }
        </style>

    </div>

    <div class="container3 text-center">
        <h3 class="happy">Happy Customer</h3>
        <br>
        <div class="rowhappy">
            <div class="col-sm-2">
                <img src="https://giaohangtietkiem.vn/wp-content/uploads/2018/05/haravan-02.png" class="img-responsive"
                    style="width:100%" alt="Image">
                <p>Haravan</p>
            </div>
            <div class="col-sm-2">
                <img src="https://giaohangtietkiem.vn/wp-content/uploads/2018/05/sapo-02.png" class="img-responsive"
                    style="width:100%" alt="Image">
                <p>Sapo</p>
            </div>
            <div class="col-sm-2">
                <img src="https://giaohangtietkiem.vn/wp-content/uploads/2023/07/tiktok.png" class="img-responsive"
                    style="width:100%" alt="Image">
                <p>Tiktok</p>
            </div>
            <div class="col-sm-2">
                <img src="https://giaohangtietkiem.vn/wp-content/uploads/2018/05/vascara-02.png" class="img-responsive"
                    style="width:100%" alt="Image">
                <p>Vascara</p>
            </div>
            <div class="col-sm-2">
                <img src="https://giaohangtietkiem.vn/wp-content/uploads/2018/05/pham-gia.png" class="img-responsive"
                    style="width:100%" alt="Image">
                <p>Pham Gia</p>
            </div>
            <div class="col-sm-2">
                <img src="https://giaohangtietkiem.vn/wp-content/uploads/2023/07/elise.png" class="img-responsive"
                    style="width:100%" alt="Image">
                <p>Elise</p>
            </div>
        </div>
        <style>
            .rowhappy {
                margin-left: 50px;
                margin-right: 50px;

                justify-content: space-evenly;
            }

            /* Style for the container */
            .container3 {
                margin-top: 20px;
                margin-bottom: 140px;
                padding: 20px 0 45px;
            }

            .happy {
                font-weight: bold;
                font-size: 30px;
                color: var(--blue-color);
            }

            /* Style for the images */
            .img-responsive {
                margin: 20px;
                border-radius: 50%;
                /* Makes the images circular */
            }

            /* Style for the paragraphs */
            p {
                font-weight: bold;
            }
        </style>
    </div><br>



    {{>home/footerHome}}

</body>