<style>
    body {
        font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
        font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }

    a {
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease;
    }

    a,
    a:hover {
        text-decoration: none !important;
    }

    .content {
        height: 70vh;
    }

    .footer-32892 {
        background-color: #202126;
        padding: 7rem 0;
        color: #888;
        font-size: 16px;
    }

    .footer-32892,
    .footer-32892 h3 {
        font-family: "Poppins", sans-serif;
    }

    .footer-32892 h3 {
        font-size: 20px;
        color: #fff;
        margin-bottom: 30px;
    }

    .footer-32892 p {
        font-family: "Source Serif Pro", serif;
    }

    .footer-32892 .row.gallery {
        margin-right: -5px;
        margin-left: -5px;
    }

    .footer-32892 .row.gallery>[class^="col-"],
    .footer-32892 .row.gallery>[class*=" col-"] {
        padding-right: 5px;
        padding-left: 5px;
    }

    .footer-32892 .gallery a {
        display: block;
        margin-bottom: 10px;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease;
    }

    .footer-32892 .gallery a:hover {
        opacity: .5;
    }

    .footer-32892 .quick-info li {
        color: #fff;
        font-size: 16px;
        margin-bottom: 10px;
    }

    .footer-32892 .quick-info li a {
        color: #fff;
    }

    .footer-32892 .quick-info li .icon {
        font-size: 20px;
        color: #f88020;
    }

    .footer-32892 .subscribe {
        position: relative;
    }

    .footer-32892 .subscribe .form-control {
        background-color: #292b31;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 30px;
        height: 55px;
        padding-left: 30px;
        padding-right: 130px;
        border: none;
        color: #fff;
    }

    .footer-32892 .subscribe .form-control::-webkit-input-placeholder {
        color: #ccc;
        font-size: 14px;
    }

    .footer-32892 .subscribe .form-control::-moz-placeholder {
        color: #ccc;
        font-size: 14px;
    }

    .footer-32892 .subscribe .form-control:-ms-input-placeholder {
        color: #ccc;
        font-size: 14px;
    }

    .footer-32892 .subscribe .form-control:-moz-placeholder {
        color: #ccc;
        font-size: 14px;
    }

    .footer-32892 .subscribe .btn-submit {
        background: #f88020;
        height: 47px;
        border-radius: 30px;
        padding-left: 30px;
        padding-right: 30px;
        color: #fff;
        font-weight: bold;
        position: absolute;
        top: 4px;
        right: 4px;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    }

    .footer-32892 .tweets li {
        margin-bottom: 20px;
        font-size: 15px;
        font-style: italic;
        font-family: "Source Serif Pro", serif;
    }

    .footer-32892 .tweets li span {
        color: #fff;
    }

    .footer-32892 .footer-menu-wrap {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        padding-top: 2rem !important;
        margin-top: 7rem;
    }

    .footer-32892 .footer-menu {
        margin-bottom: 0;
    }

    .footer-32892 .footer-menu li {
        display: inline-block;
    }

    @media (max-width: 767.98px) {
        .footer-32892 .footer-menu li {
            display: block;
        }
    }

    .footer-32892 .footer-menu li a {
        padding: 10px;
        display: inline-block;
        color: #fff;
    }

    @media (max-width: 767.98px) {
        .footer-32892 .footer-menu li a {
            display: block;
            padding-left: 0px;
        }
    }

    .footer-32892 .footer-menu li:first-child a {
        padding-left: 0;
    }

    .footer-32892 .site-logo {
        color: #fff;
        font-size: 20px;
    }

    1
</style>
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="fonts/icomoon/style.css">
<link rel="stylesheet" href="css/bootstrap.min.css">
<script
    nonce="f8d00155-9dc9-437b-a003-e959a8609d67">(function (w, d) { !function (j, k, l, m) { j[l] = j[l] || {}; j[l].executed = []; j.zaraz = { deferred: [], listeners: [] }; j.zaraz.q = []; j.zaraz._f = function (n) { return async function () { var o = Array.prototype.slice.call(arguments); j.zaraz.q.push({ m: n, a: o }) } }; for (const p of ["track", "set", "debug"]) j.zaraz[p] = j.zaraz._f(p); j.zaraz.init = () => { var q = k.getElementsByTagName(m)[0], r = k.createElement(m), s = k.getElementsByTagName("title")[0]; s && (j[l].t = k.getElementsByTagName("title")[0].text); j[l].x = Math.random(); j[l].w = j.screen.width; j[l].h = j.screen.height; j[l].j = j.innerHeight; j[l].e = j.innerWidth; j[l].l = j.location.href; j[l].r = k.referrer; j[l].k = j.screen.colorDepth; j[l].n = k.characterSet; j[l].o = (new Date).getTimezoneOffset(); if (j.dataLayer) for (const w of Object.entries(Object.entries(dataLayer).reduce(((x, y) => ({ ...x[1], ...y[1] })), {}))) zaraz.set(w[0], w[1], { scope: "page" }); j[l].q = []; for (; j.zaraz.q.length;) { const z = j.zaraz.q.shift(); j[l].q.push(z) } r.defer = !0; for (const A of [localStorage, sessionStorage]) Object.keys(A || {}).filter((C => C.startsWith("_zaraz_"))).forEach((B => { try { j[l]["z_" + B.slice(7)] = JSON.parse(A.getItem(B)) } catch { j[l]["z_" + B.slice(7)] = A.getItem(B) } })); r.referrerPolicy = "origin"; r.src = "/cdn-cgi/zaraz/s.js?z=" + btoa(encodeURIComponent(JSON.stringify(j[l]))); q.parentNode.insertBefore(r, q) };["complete", "interactive"].includes(k.readyState) ? zaraz.init() : j.addEventListener("DOMContentLoaded", zaraz.init) }(w, d, "zarazData", "script"); })(window, document);</script>


<body>

    <footer class="footer-32892 pb-0">
        <div class="site-section">
            <div class="container">
                <div class="row">
                    <div class="col-md pr-md-5 mb-4 mb-md-0">
                        <h3>About Us</h3>
                        <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam itaque unde
                            facere repellendus, odio et iste voluptatum aspernatur ratione mollitia tempora eligendi
                            maxime est, blanditiis accusamus. Incidunt, aut, quis!</p>
                        <ul class="list-unstyled quick-info mb-4">
                            <li><a href="#" class="d-flex align-items-center"><span class="icon mr-3 icon-phone"></span>
                                    +1 291 3912 329</a></li>
                            <li><a href="#" class="d-flex align-items-center"><span
                                        class="icon mr-3 icon-envelope"></span> <span class="__cf_email__"
                                        data-cfemail="51383f373e11363c30383d7f323e3c">[email&#160;protected]</span></a>
                            </li>
                        </ul>
                        <form action="#" class="subscribe">
                            <input type="text" class="form-control" placeholder="Enter your e-mail">
                            <input type="submit" class="btn btn-submit" value="Send">
                        </form>
                    </div>
                    <div class="col-md mb-4 mb-md-0">
                        <h3>Latest Tweet</h3>
                        <ul class="list-unstyled tweets">
                            <li class="d-flex">
                                <div class="mr-4"><span class="icon icon-twitter"></span></div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere unde omnis veniam
                                    porro excepturi.</div>
                            </li>
                            <li class="d-flex">
                                <div class="mr-4"><span class="icon icon-twitter"></span></div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere unde omnis veniam
                                    porro excepturi.</div>
                            </li>
                            <li class="d-flex">
                                <div class="mr-4"><span class="icon icon-twitter"></span></div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere unde omnis veniam
                                    porro excepturi.</div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 mb-4 mb-md-0">
                        <h3>Instagram</h3>
                        <div class="row gallery">
                            <div class="col-6">
                                <a href="#"><img src="images/img_1.jpg" alt="Image" class="img-fluid"></a>
                                <a href="#"><img src="images/img_2.jpg" alt="Image" class="img-fluid"></a>
                            </div>
                            <div class="col-6">
                                <a href="#"><img src="images/img_3.jpg" alt="Image" class="img-fluid"></a>
                                <a href="#"><img src="images/img_4.jpg" alt="Image" class="img-fluid"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="py-5 footer-menu-wrap d-md-flex align-items-center">
                            <ul class="list-unstyled footer-menu mr-auto">
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Our works</a></li>
                                <li><a href="#">Services</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Contacts</a></li>
                            </ul>
                            <div class="site-logo-wrap ml-auto">
                                <a href="#" class="site-logo">
                                    Colorlib
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script defer
        src="https://static.cloudflareinsights.com/beacon.min.js/v84a3a4012de94ce1a686ba8c167c359c1696973893317"
        integrity="sha512-euoFGowhlaLqXsPWQ48qSkBSCFs3DPRyiwVu3FjR96cMPx+Fr+gpWRhIafcHwqwCqWS42RZhIudOvEI+Ckf6MA=="
        data-cf-beacon='{"rayId":"82dbc57e3d2a0eb8","version":"2023.10.0","token":"cd0b4b3a733644fc843ef0b185f98241"}'
        crossorigin="anonymous"></script>
</body>