<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/search_bar.css">

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

<div class="container">

    <div class="row d-flex justify-content-center align-items-center">

        <div class="col-md-6">
            <form action="/search_post">

                <div class="search-form">
                    <i class="fa fa-search"></i>
                    <input type="search" name="searchValue" class="form-control form-input"
                        placeholder="Nhập mã đơn hàng để tra cứu...">

                </div>
            </form>

        </div>

    </div>

</div>