@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}


.confirm-link:hover {
    color: rgb(110, 110, 249);
}

.confirm-text {
    color: rgb(27, 178, 27);
}

.confirm-checkbox.mouse-over .confirm-text {
    color: rgb(169, 206, 169) !important;
    cursor: pointer;
}

.confirm-checkbox.mouse-over {
    color: rgb(125, 134, 125) !important;
    cursor: pointer;
}

.pagination {
    background-color: transparent;
}