
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  max-width: 50%;
}
body{
  margin-top:20px;
  background:#eee;
}

.receipt {
  background: #fff;
  padding: 20px
}
