<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<style>
    :root {
        --blue-color: #174a8c;
        --orange-color: #ef6030;
    }
</style>

<div class="header">
    <div class="title" style="display: flex; align-items: center; justify-content: space-between;">
        <button id="btnAll">Trên toàn quốc</button>
        <div class="dropdown-container">
            <div class="dropdown show" style="margin-right: 20px;">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Các tùy chọn khác
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#" id="showPopup1">Điểm giao dịch cụ thể</a>
                    <a class="dropdown-item" href="#" id="showPopup2">Điểm tập kết cụ thể</a>

                </div>

                <div class="overlay" id="overlay1">
                    <div class="popup">
                        <p style="font-weight: bold; font-size: 20px; color:#174a8c">Thống kê theo điểm giao dịch</p>
                        <div>
                            <form method="POST" action="" class="formPopup" id="formcode1">
                                <label class="lbPopup" for="">Mã điểm giao dịch</label>
                                <input class="ipPopup" type="text" name="stationCode" id="stationCode"
                                    placeholder="Nhập mã điểm giao dịch">
                                <button class="btnPopup" type="submit">Tìm kiếm</button>
                            </form>
                            <div id="result" style="background-color: #ffffff;"></div>
                        </div>
                    </div>
                    <button onclick="closePopup1()" class="btnClose">Đóng</button>
                    <script>
                        document.getElementById('formcode1').addEventListener('submit', function (event) {
                            event.preventDefault();

                            var stationCodeValue = document.getElementById('stationCode').value;

                            // Gửi dữ liệu bằng fetch
                            fetch('/statistic_manager_station', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json',
                                },
                                body: JSON.stringify({ stationCode: stationCodeValue }),
                            })
                                .then(response => response.json())
                                .then(data => {
                                    console.log(data);
                                    const resultDiv = document.getElementById('result');
                                    if (data.message) {
                                        resultDiv.innerHTML = `<p>${data.message}</p>`;
                                    } else {
                                        const resultHTML = `
                                                            <div>
                                                                <p class="resultName" style="font-weight: bold; font-family: 'Arial', sans-serif; text-align: left; font-size: 11px; line-height: 1.3;">Name: ${data.name}</p>
                                                                <p style="margin-bottom: 5px; text-align: left; font-size: 11px; line-height: 1.3;">Station Code: ${data.stationCode}</p>
                                                                <p style="margin-bottom: 5px; text-align: left; font-size: 11px; line-height: 1.3;">Detail Address: ${data.detailAddress}</p>
                                                                <a href="/statistic_manager_station/${data.stationCode}" name=${data.stationCode} style="margin-bottom: 5px; text-align: left; font-size: 11px; line-height: 1.3;">Thống kê</a>
                                                                <br><br>
                                                            </div>
                                                        `;

                                        console.log("khá thành công")
                                        resultDiv.innerHTML = resultHTML;
                                        resultDiv.style.color = 'black';
                                        resultDiv.style.margin = "0 30px";
                                        resultDiv.style.padding = "10px";

                                        // Thiết lập border cho div
                                        resultDiv.style.border = "1px solid #ccc";
                                    }
                                    console.log("success")
                                })
                                .catch(error => {
                                    console.error('Error:', error);
                                });
                        });
                    </script>
                </div>

            </div>
            <div class="overlay" id="overlay2">
                <div class="popup">
                    <p style="font-weight: bold; font-size: 20px; color:#174a8c">Thống kê theo điểm tập kết</p>
                    <div>
                        <form method="POST" action="" class="formPopup" id="formcode2">
                            <label class="lbPopup" for="" style="font-weight: bold; color:#174a8c">Mã điểm tập kết</label>
                            <input class="ipPopup" type="text" name="warehouseCode" id="warehouseCode" placeholder="Nhập mã điểm giao dịch">
                            <button class="btnPopup" type="submit">Tìm kiếm</button>
                        </form>
                        <div id="result2" style="background-color: #ffffff;"></div>
                    </div>

                </div>
                <button onclick="closePopup2()" class="btnClose">Đóng</button>
                <script>
                        document.getElementById('formcode2').addEventListener('submit', function (event) {
                            event.preventDefault();
                            console.log("tìm điểm tạp kết mm22")

                            var warehouseCodeValue = document.getElementById('warehouseCode').value;

                            // Gửi dữ liệu bằng fetch
                            fetch('/statistic_manager_warehouse', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json',
                                },
                                body: JSON.stringify({ warehouseCode: warehouseCodeValue }),
                            })
                                .then(response => response.json())
                                .then(data => {
                                    console.log(data);
                                    const resultDiv = document.getElementById('result2');
                                    if (data.message) {
                                        resultDiv.innerHTML = `<p>${data.message}</p>`;
                                    } else {
                                        const resultHTML = `
                                                            <div>
                                                                <p class="resultName" style="font-weight: bold; font-family: 'Arial', sans-serif; text-align: left; font-size: 11px; line-height: 1.3;">Name: ${data.name}</p>
                                                                <p style="margin-bottom: 5px; text-align: left; font-size: 11px; line-height: 1.3;">Warehouse Code: ${data.warehouseCode}</p>
                                                                <p style="margin-bottom: 5px; text-align: left; font-size: 11px; line-height: 1.3;">Detail Address: ${data.detailAddress}</p>
                                                                <a href="/statistic_manager_warehouse/${data.warehouseCode}" name=${data.warehouseCode} style="margin-bottom: 5px; text-align: left; font-size: 11px; line-height: 1.3;">Thống kê</a>
                                                                <br><br>
                                                            </div>
                                                        `;

                                        console.log("khá thành công")
                                        resultDiv.innerHTML = resultHTML;
                                        resultDiv.style.color = 'black';
                                        resultDiv.style.margin = "0 30px";
                                        resultDiv.style.padding = "10px";

                                        // Thiết lập border cho div
                                        resultDiv.style.border = "1px solid #ccc";
                                    }
                                    console.log("success")
                                })
                                .catch(error => {
                                    console.error('Error:', error);
                                });
                        });

                    </script>
            </div>

        </div>
        <style>
            #formcode1,
            #formcode2 {
                display: flex;
                flex-direction: row;
            }

            .formPopup {
                max-width: 700px;
                margin: 20px auto;
                padding: 20px;
                display: flex;
                flex-direction: column;
            }

            .lbPopup {
                margin-bottom: 10px;

                font-weight: bold;
            }

            .ipPopup {
                width: 100%;
                padding: 10px;
                margin-bottom: 15px;
                margin-left: 10px;
                margin-right: 10px;
                box-sizing: border-box;
            }

            .btnPopup {

                background-color: var(--orange-color);
                color: #fff;
                padding: 10px 15px;
                border: none;
                border-radius: 4px;
                width: 160px;
                height: 45px;
                cursor: pointer;
            }

            .btnPopup:hover {
                background-color: var(--blue-color);
            }

            .aPopup {
                margin-top: 15px;
                text-decoration: none;
                color: var(--orange-color);
                cursor: pointer;
            }

            .collapse {
                display: none;
                margin-top: 10px;
            }

            .collapse input {
                width: calc(50% - 5px);
                padding: 10px;
                box-sizing: border-box;
                margin-bottom: 10px;
            }

            .fa {
                margin-left: 5px;
            }
        </style>

        <style>
            .overlay {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.5);
                display: flex;
                justify-content: center;
                visibility: hidden;
                z-index: 999;
            }

            .popup {
                margin-top: 100px;
                height: 400px;
                background: #fff;
                padding: 20px;
                border-radius: 8px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                max-width: 1000px;
                text-align: center;
                z-index: 1000;
            }

            .popup p {
                margin: 0 0 15px;
            }

            button {
                background: var(--orange-color);
                color: #fff;
                border: none;
                padding: 10px 20px;
                cursor: pointer;
                border-radius: 4px;
            }
        </style>
        <script>
            document.getElementById('btnAll').addEventListener('click', function (event) {
                const url = `/statistic_manager`;
                window.location.href = url;
            });
            document.getElementById('showPopup1').addEventListener('click', function (event) {
                showPopup1();
            });
            document.getElementById('showPopup2').addEventListener('click', function (event) {
                showPopup2();
            });

            function showPopup1() {
                document.getElementById('overlay1').style.visibility = 'visible';
            }
            function showPopup2() {
                document.getElementById('overlay2').style.visibility = 'visible';
            }

            function closePopup1() {
                document.getElementById('overlay1').style.visibility = 'hidden';
            }
            function closePopup2() {
                document.getElementById('overlay2').style.visibility = 'hidden';
            }

        </script>
    </div>
</div>
<style>
    #btnAll,
    #dropdownMenuLink {
        display: inline-block;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 50px;
        padding: 10px 80px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        border: 1px solid #ccc;
        border-radius: 25px;
        background-color: #f5f5f5;
        color: #333;
        transition: background-color 0.3s ease;
    }

    #btnAll:hover,
    #dropdownMenuLink:hover {
        background-color: #e0e0e0;
    }
</style>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
