<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<style>
    :root {
        --blue-color: #174a8c;
        --orange-color: #ef6030;
    }
</style>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</div>
<div class="button-container">
    <form method="POST" action="/statistic_manager/daily">
        <button class="button" type="submit">Trong ngày</button>
    </form>
    <form method="POST" action="/statistic_manager/week">
        <button class="button" type="submit">Trong tuần</button>
    </form>
    <form method="POST" action="/statistic_manager/month">
        <button class="button" type="submit">Trong tháng</button>
    </form>
    <form method="POST" action="/statistic_manager/year">
        <button class="button" type="submit">Trong năm</button>
    </form>
    <style>
        .header {

            font-family: inherit;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .button-container {
            margin-bottom: 25px;
            display: flex;
            justify-content: center;
        }

        .button {
            padding: 8px 30px;
            margin: 5px;
            font-size: 16px;
            background-color: var(--blue-color);
            color: #fff;
            border: none;
            border-radius: 25px;
            cursor: pointer;
        }

        .button:hover {
            background-color: #012741;
        }
    </style>

</div>


</div>