{{!-- <body>
    <form action="/reset-password" method="post">
        <input type="hidden" name="token" value={{token}}>
        <label for="password">New Password:</label>
        <input type="password" name="password" required>
        <button type="submit">Reset Password</button>
    </form>
</body> --}}
<main style=" background-image: linear-gradient(360deg, rgba(255,0,0,0), #d84a4a);">
  <section class="container d-flex flex-column" style="">
    <div class="row align-items-center justify-content-center g-0 min-vh-100">
      <div class="col-lg-5 col-md-8 py-8 py-xl-0">
        <!-- Card -->
        <div class="card shadow">
          <!-- Card body -->
          <div class="card-body p-6">
            <div class="mb-4">
              <a href="/"><img src="https://codescandy.com/geeks-bootstrap-5/assets/images/brand/logo/logo-icon.svg"
                  class="mb-4" alt="logo-icon" /></a>
              <h1 class="mb-1 fw-bold" style="color: #DE6262; font-size: 32px; font-weight: bold;">Reset Password</h1>
            </div>
            <!-- Form -->
            <form method="POST" action="/reset-password">
                <input type="hidden" name="token" value={{token}}>
              <div class="mb-3">
                <label for="password" class="form-label" style="color: #777575; font-weight: bold">New password</label>
                <input type="password" name="password" class="form-control" placeholder="Enter Your Password "
                  required />
              </div>
              <!-- Button -->
              <div class="mb-3 d-grid">
                <button type="submit" class="btn btn-primary" style="font-weight: bold; 
                                background-color:#DE6262; 
                                border: none">
                  Reset Password
                </button>
              </div>
              <span class="text1">Return to <a href="/login" class="text2">sign in</a></span>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- Scripts -->
<!-- Libs JS -->
<script src="../assets/libs/jquery/dist/jquery.min.js"></script>
<script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="../assets/libs/simplebar/dist/simplebar.min.js"></script>


<style>
  .text1 {
    color: #777575;
    font-family: Georgia, 'Times New Roman', Times, serif
  }

  .text2 {
    color: #DE6262;
  }
</style>